In [ ]:
import glob
import pandas as pd
from datetime import datetime
import math
import os
import time
import numpy as np
import re

In [ ]:
all_data = glob.glob('/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun*.csv')

In [ ]:
all_data

['/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2020-bulan-januari.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2019-bulan-januari.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2017-bulan-desember.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2017-bulan-november.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2017-bulan-oktober.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2017-bulan-september.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2017-bulan-agustus.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2017-bulan-juli.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2017-bulan-juni.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2017-bulan-mei.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2017-bulan-april.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2017-bulan-maret.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2017-bulan-januari.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2018-bulan-januari.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2018-bulan-februari.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2018-bulan-maret.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2018-bulan-april.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2018-bulan-mei.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2018-bulan-juni.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2018-bulan-oktober.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2018-bulan-november.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2018-bulan-desember.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2019-bulan-februari.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2019-bulan-maret.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2019-bulan-april.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2019-bulan-mei.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2019-bulan-oktober.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2019-bulan-desember.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2020-bulan-februari.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2020-bulan-maret.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2020-bulan-april.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2020-bulan-mei.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2020-bulan-juni.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2020-bulan-juli.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2020-bulan-agustus.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2020-bulan-september.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2020-bulan-oktober.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2020-bulan-november.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2020-bulan-desember.csv',
 '/content/drive/MyDrive/GenGigih/JakartaFloods/data-kejadian-bencana-banjir-di-provinsi-dki-jakarta-tahun-2017-bulan-februari.csv']

In [ ]:
data_name=[]
data=pd.DataFrame()
for i,x in enumerate(all_data):
  data_read=pd.DataFrame()
  data_name.append(x[105:-4])
  try:
    data_read = pd.read_csv(x)
  except:
    print(data_name[i], " gagal di read")
    continue
  if data_read['tanggal_kejadian'].dtype =='object':
    data_read['bulan'] = data_name[i][11:]
    data_read['tahun'] = data_name[i][:4]
  else:
    print(data_name[i-1][11:], data_name[i][:4], 'no')
  data = data.append(data_read, ignore_index = True)

In [ ]:
data.dtypes

kota_administrasi              object
kecamatan                      object
kelurahan                      object
rw                             object
jumlah_terdampak_rw           float64
jumlah_terdampak_rt           float64
jumlah_terdampak_kk            object
jumlah_terdampak_jiwa         float64
ketinggian_air                 object
tanggal_kejadian               object
lama_genangan                 float64
jumlah_meninggal              float64
jumlah_hilang                 float64
jumlah_luka_berat             float64
jumlah_luka_ringan            float64
jumlah_pengungsi_tertinggi    float64
jumlah_tempat_pengungsian     float64
nilai_kerugian                float64
bulan                          object
tahun                          object
dtype: object

In [ ]:
data_name.sort()
data_name

In [ ]:
data

     kota_administrasi      kecamatan  ...     bulan tahun
0        Jakarta Pusat     JOHAR BARU  ...   januari  2020
1        Jakarta Pusat      KEMAYORAN  ...   januari  2020
2        Jakarta Pusat      KEMAYORAN  ...   januari  2020
3        Jakarta Pusat    SAWAH BESAR  ...   januari  2020
4        Jakarta Pusat    TANAH ABANG  ...   januari  2020
...                ...            ...  ...       ...   ...
1617     Jakarta Utara      CILINCING  ...  februari  2017
1618     Jakarta Utara           KOJA  ...  februari  2017
1619     Jakarta Utara    PENJARINGAN  ...  februari  2017
1620     Jakarta Utara    PENJARINGAN  ...  februari  2017
1621     Jakarta Utara  TANJUNG PRIOK  ...  februari  2017

[1622 rows x 20 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1622 entries, 0 to 1621
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   kota_administrasi           1572 non-null   object
 1   kecamatan                   1572 non-null   object
 2   kelurahan                   1572 non-null   object
 3   rw                          1505 non-null   object
 4   jumlah_terdampak_rw         1572 non-null   float64
 5   jumlah_terdampak_rt         1572 non-null   float64
 6   jumlah_terdampak_kk         1572 non-null   object
 7   jumlah_terdampak_jiwa       1572 non-null   float64
 8   ketinggian_air              1572 non-null   object
 9   tanggal_kejadian            1572 non-null   object
 10  lama_genangan               1572 non-null   float64
 11  jumlah_meninggal            1572 non-null   float64
 12  jumlah_hilang               1572 non-null   float64
 13  jumlah_luka_berat           1572 non-null   float64
 14  jumlah_luka_ringan          1572 non-null   float64
 15  jumlah_pengungsi_tertinggi  1572 non-null   float64
 16  jumlah_tempat_pengungsian   1572 non-null   float64
 17  nilai_kerugian              1572 non-null   float64
 18  bulan                       1622 non-null   object
 19  tahun                       1622 non-null   object
dtypes: float64(11), object(9)
memory usage: 253.6+ KB

In [ ]:
data.describe()

       jumlah_terdampak_rw  ...  nilai_kerugian
count          1572.000000  ...          1572.0
mean              2.088422  ...             0.0
std               2.275812  ...             0.0
min               0.000000  ...             0.0
25%               1.000000  ...             0.0
50%               1.000000  ...             0.0
75%               3.000000  ...             0.0
max              16.000000  ...             0.0

[8 rows x 11 columns]

In [ ]:
data.to_csv('/content/drive/MyDrive/GenGigih/JakartaFloods/alldata.csv', index=False)
print('done')

done

In [ ]:
for i,x in enumerate(data['tanggal_kejadian']):
  print(i,x)

In [ ]:
for i,x in enumerate(data['tanggal_kejadian']):
  try:
    data['tanggal_kejadian'][i] = datetime.strptime(data['tanggal_kejadian'][i], "%Y-%m-%d").day
    print(data['tanggal_kejadian'][i])
  except:
    pass

In [ ]:
for i,x in enumerate(data['tanggal_kejadian']):
  print(i)
  if data['tanggal_kejadian'][i] is not np.nan:
    data['tanggal_kejadian'][i] = str(data['tanggal_kejadian'][i])
    data['tanggal_kejadian'][i] = data['tanggal_kejadian'][i].replace("s/d", "-")
    data['tanggal_kejadian'][i] = data['tanggal_kejadian'][i].replace("&", ",")
    data['tanggal_kejadian'][i] = re.sub(".*?\((.*?)\)", '', data['tanggal_kejadian'][i])
    data['tanggal_kejadian'][i] = data['tanggal_kejadian'][i].replace('\n',' ')
    data['tanggal_kejadian'][i] = re.sub("[^0-9\-,]", " ", data['tanggal_kejadian'][i])
    data['tanggal_kejadian'][i] = re.sub("\d{4}", '', data['tanggal_kejadian'][i])
    data['tanggal_kejadian'][i] = re.sub(' +', ' ', data['tanggal_kejadian'][i])
    data['tanggal_kejadian'][i] = data['tanggal_kejadian'][i].replace(" ", "")

In [ ]:
for i,x in enumerate(data['tanggal_kejadian']):
  print(i, x)

In [ ]:
for enum,x in enumerate(data['tanggal_kejadian']):
  tot=[]
  print(enum, x)
  if x is not np.nan:
    for i in data['tanggal_kejadian'][enum].split(','):
      if '-' in i:
        a = i.split('-')
        for j in range(int(a[0]),int(a[1])+1):
          tot.append(j)
      elif i is not np.nan and i!='':
        print(i)
        tot.append(int(i))
    data['tanggal_kejadian'][enum] = tot

In [ ]:
for enum,x in enumerate(data['tanggal_kejadian']):
  print(enum, x)

In [ ]:
data['tanggal'] = data['tanggal_kejadian'].copy()
data

In [ ]:
data["bulan"].replace({"januari": "1", 
                     "februari": "2",
                     "maret": "3", 
                     "april": "4",
                     "mei": "5", 
                     "juni": "6",
                     "juli": "7", 
                     "agustus": "8",
                     "september": "9", 
                     "oktober": "10",
                     "november": "11", 
                     "desember": "12"
                     }, inplace=True)

In [ ]:
data["tanggal_awal_kejadian"]=datetime.now()
data["tanggal_akhir_kejadian"]=datetime.now()
data["durasi_banjir"]=0
for i,x in enumerate(data['tanggal_kejadian']):
  if x is not np.nan and x!=[]:
    dateawal = str(data['tanggal'][i][0]) +'/'+ str(data['bulan'][i]) +'/'+ str(data['tahun'][i])
    dateakhir = str(data['tanggal'][i][-1]) +'/'+ str(data['bulan'][i]) +'/'+ str(data['tahun'][i])
    data["tanggal_awal_kejadian"][i] = datetime.strptime(dateawal, '%d/%m/%Y')
    data["tanggal_akhir_kejadian"][i] = datetime.strptime(dateakhir, '%d/%m/%Y')
    data["durasi_banjir"][i] = len(data['tanggal'][i])

In [ ]:
data.drop(columns=['tanggal_kejadian'], inplace=True)
data

In [ ]:
data.dropna(subset=['kota_administrasi'], inplace=True)
data

In [ ]:
data.to_csv('/content/drive/MyDrive/GenGigih/JakartaFloods/alldata.csv', index=False)
print('done')

done

In [ ]:
data['kota_administrasi'].value_counts(dropna=False)

Jakarta Timur       566
Jakarta Selatan     502
Jakarta Barat       295
Jakarta Utara       147
Jakarta Pusat        46
Kepulauan Seribu     14
Jakarta Urata         2
Name: kota_administrasi, dtype: int64

In [ ]:
data["kota_administrasi"].replace({"Jakarta Urata": "Jakarta Utara"}, inplace=True)
data['kota_administrasi'].value_counts(dropna=False)

Jakarta Timur       566
Jakarta Selatan     502
Jakarta Barat       295
Jakarta Utara       149
Jakarta Pusat        46
Kepulauan Seribu     14
Name: kota_administrasi, dtype: int64

In [ ]:
a = data['kecamatan'].value_counts(dropna=False)
for i in range(len(a)):
  print(a.index[i],a[i])

In [ ]:
data.kecamatan = data.kecamatan.str.replace("KEC. ", "")
data.kecamatan = data.kecamatan.str.replace("KEC.", "")
data.kecamatan = data.kecamatan.str.strip()

In [ ]:
data['kecamatan'].value_counts(dropna=False)

In [ ]:
data["kecamatan"].replace({"MAKASSAR": "MAKASAR",
                           "SETIA BUDI": "SETIABUDI",
                           "PULO GADUNG": "PULOGADUNG",
                           "KALI DERES": "KALIDERES",
                           "CILIINCING": "CILINCING",
                           }, inplace=True)
data['kecamatan'].value_counts(dropna=False)

In [ ]:
data['kelurahan'].value_counts(dropna=False)

KAMPUNG MELAYU          76
CAWANG                  47
BIDARA CINA             37
RAMBUTAN                26
PEJATEN TIMUR           25
                        ..
KEL. GROGOL SELATAN      1
KEL. JELAMBAR            1
JATINEGARA               1
PASAR MINGGU             1
CIPINANG BESAR UTARA     1
Name: kelurahan, Length: 346, dtype: int64

In [ ]:
a = data['kelurahan'].value_counts(dropna=False)
for i in range(len(a)):
  print(a.index[i],a[i])

In [ ]:
data.kelurahan = data.kelurahan.str.replace("KEL. ", "")
data.kelurahan = data.kelurahan.str.replace("KEL.", "")
data.kelurahan = data.kelurahan.str.strip()

In [ ]:
data['kelurahan'].value_counts(dropna=False)

KAMPUNG MELAYU     89
CAWANG             58
BIDARA CINA        46
PEJATEN TIMUR      33
RAMBUTAN           31
                   ..
KEBON PA            1
KALIBARU            1
JATINEGARA KAUM     1
SUKA PURA           1
RAWASARI            1
Name: kelurahan, Length: 233, dtype: int64

In [ ]:
a = data['kelurahan'].value_counts(dropna=False)
for i in range(len(a)):
  print(a.index[i],a[i])

In [ ]:
data["kelurahan"].replace({"RAWA JATI": "RAWAJATI",
                           "SUKA PURA": "SUKAPURA",
                           "JATIPADANG": "JATI PADANG",
                           "PULO GADUNG": "PULOGADUNG",
                           "PANGADEGAN": "PENGADEGAN",
                           "PENGEDEGAN": "PENGADEGAN",
                           "TANJUNG PRIUK": "TANJUNG PRIOK",
                           "WIJAYA KESUMA": "WIJAYA KUSUMA",
                           "BALE KAMBANG": "BALEKAMBANG",
                           }, inplace=True)
data['kelurahan'].value_counts(dropna=False)

KAMPUNG MELAYU    89
CAWANG            58
BIDARA CINA       46
PEJATEN TIMUR     33
RAMBUTAN          31
                  ..
PULAU PA           1
RAWA BARAT         1
MANGGA BESAR       1
CEMPAKA BARU       1
PASEBAN            1
Name: kelurahan, Length: 224, dtype: int64

In [ ]:
data.to_csv('/content/drive/MyDrive/GenGigih/JakartaFloods/alldata.csv', index=False)
print('done')

done

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/GenGigih/JakartaFloods/alldata.csv')

In [ ]:
data

     kota_administrasi  ... durasi_banjir
0        Jakarta Pusat  ...             1
1        Jakarta Pusat  ...             1
2        Jakarta Pusat  ...             1
3        Jakarta Pusat  ...             1
4        Jakarta Pusat  ...             1
...                ...  ...           ...
1567     Jakarta Utara  ...             1
1568     Jakarta Utara  ...             3
1569     Jakarta Utara  ...             1
1570     Jakarta Utara  ...             2
1571     Jakarta Utara  ...             1

[1572 rows x 23 columns]

In [ ]:
data['rw']

0                   RW 01, 02, 06, 08
1                   RW 01, 02, 07, 08
2                   RW 01, 02, 06, 07
3       RW 02, 03, 04, 05, 06, 07, 08
4                           RW 07, 09
                    ...
1567                              NaN
1568                              NaN
1569                              NaN
1570                              NaN
1571                              NaN
Name: rw, Length: 1572, dtype: object

In [ ]:
for i,x in enumerate(data['rw']):
  print(i,x)
  if data['rw'][i] is not np.nan:
    data['rw'][i] = str(data['rw'][i])
    data['rw'][i] = data['rw'][i].replace('\n',' ')
    data['rw'][i] = re.sub("[^0-9,]", " ", data['rw'][i])
    data['rw'][i] = re.sub("\d{4}", '', data['rw'][i])
    data['rw'][i] = re.sub(' +', ' ', data['rw'][i])
    data['rw'][i] = data['rw'][i].replace(" ", "")

In [ ]:
data['rw']

0                01,02,06,08
1                01,02,07,08
2                01,02,06,07
3       02,03,04,05,06,07,08
4                      07,09
                ...
1567                     NaN
1568                     NaN
1569                     NaN
1570                     NaN
1571                     NaN
Name: rw, Length: 1572, dtype: object

In [ ]:
for enum,x in enumerate(data['rw']):
  tot=[]
  print(enum, x)
  if x is not np.nan:
    for i in data['rw'][enum].split(','):
      if '-' in i:
        a = i.split('-')
        for j in range(int(a[0]),int(a[1])+1):
          tot.append(j)
      elif i is not np.nan and i!='':
        print(i)
        tot.append(int(i))
    data['rw'][enum] = tot

In [ ]:
data['rw']

0                [1, 2, 6, 8]
1                [1, 2, 7, 8]
2                [1, 2, 6, 7]
3       [2, 3, 4, 5, 6, 7, 8]
4                      [7, 9]
                ...
1567                      NaN
1568                      NaN
1569                      NaN
1570                      NaN
1571                      NaN
Name: rw, Length: 1572, dtype: object

In [ ]:
data

     kota_administrasi  ... durasi_banjir
0        Jakarta Pusat  ...             1
1        Jakarta Pusat  ...             1
2        Jakarta Pusat  ...             1
3        Jakarta Pusat  ...             1
4        Jakarta Pusat  ...             1
...                ...  ...           ...
1567     Jakarta Utara  ...             1
1568     Jakarta Utara  ...             3
1569     Jakarta Utara  ...             1
1570     Jakarta Utara  ...             2
1571     Jakarta Utara  ...             1

[1572 rows x 23 columns]

In [ ]:
data.to_csv('/content/drive/MyDrive/GenGigih/JakartaFloods/alldata.csv', index=False)
print('done')

In [ ]:
def clean_height1(unclean_str):
    # Remove non-numerical characters
    clean = unclean_str.replace('s/d', '')\
                       .replace('s.d.', '')\
                       .replace('-', ' ')\
                       .replace('cm', '')
    # Remove extra whitespace
    clean = ' '.join(clean.split())
    # Split clean into list
    clean = clean.split(' ')
    min_height = int(clean[0])
    max_height = int(clean[1])
    avg_height = (min_height + max_height) / 2.0
    return {'min_ketinggian_air': min_height, 'max_ketinggian_air': max_height, 'mean_ketinggian_air': avg_height}

In [ ]:
def clean_height2(unclean_str):
    clean = unclean_str.replace('cm', '')
    clean = clean.strip()
    avg_height = int(clean)
    return {'min_ketinggian_air': avg_height, 'max_ketinggian_air': avg_height, 'mean_ketinggian_air': avg_height}

In [ ]:
def clean_height(unclean_str):
    unclean_str = unclean_str.lower()
    if (unclean_str.find('s.d.') != -1 or unclean_str.find('s/d') != -1 or unclean_str.find('-') != -1):
        return clean_height1(unclean_str)
    else:
        return clean_height2(unclean_str)

In [ ]:
df2 = data.apply(lambda row: clean_height(row['ketinggian_air']), axis='columns', result_type='expand')
data = pd.concat([data, df2], axis='columns')

In [ ]:
data.to_csv('/content/drive/MyDrive/GenGigih/JakartaFloods/alldata.csv', index=False)
print('done')