In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Import dataset

df = pd.read_csv('alldata_3.csv')
df

,kota_administrasi,kecamatan,kelurahan,rw,jumlah_terdampak_rw,jumlah_terdampak_rt,jumlah_terdampak_kk,jumlah_terdampak_jiwa,ketinggian_air,tanggal_kejadian,lama_genangan,jumlah_meninggal,jumlah_hilang,jumlah_luka_berat,jumlah_luka_ringan,jumlah_pengungsi_tertinggi,jumlah_tempat_pengungsian,nilai_kerugian,bulan,tahun
0,Jakarta Pusat,JOHAR BARU,JOHAR BARU,"RW 01, 02, 06, 08",4.0,4.0,35,140.0,10 s/d 30 cm,tgl. 01 Januari,0.0,0.0,0.0,0.0,140.0,1.0,0.0,0.0,januari,2020
1,Jakarta Pusat,KEMAYORAN,GUNUNG SAHARI SELATAN,"RW 01, 02, 07, 08",4.0,4.0,0,0.0,10 s/d 70 cm,tgl. 01 Januari,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,januari,2020
2,Jakarta Pusat,KEMAYORAN,SERDANG,"RW 01, 02, 06, 07",4.0,4.0,0,0.0,10 s/d 30 cm,tgl. 01 Januari,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,januari,2020
3,Jakarta Pusat,SAWAH BESAR,PASAR BARU,"RW 02, 03, 04, 05, 06, 07, 08",7.0,7.0,155,625.0,10 s/d 70 cm,tgl. 01 Januari,0.0,0.0,0.0,0.0,625.0,5.0,0.0,0.0,januari,2020
4,Jakarta Pusat,TANAH ABANG,BENDUNGAN HILIR,"RW 07, 09",2.0,2.0,52,195.0,31 s/d 70 cm,tgl. 01 Januari,0.0,0.0,0.0,0.0,195.0,6.0,0.0,0.0,januari,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1617,Jakarta Utara,CILINCING,SUKAPURA,NaN,1.0,0.0,0,0.0,40 - 50 cm,21\n(1 Hari),0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,februari,2017
1618,Jakarta Utara,KOJA,TUGU SELATAN,NaN,3.0,0.0,0,0.0,10 - 20 cm,"16, 21 - 22\n(3 Hari)",1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,februari,2017
1619,Jakarta Utara,PENJARINGAN,PEJAGALAN,NaN,1.0,0.0,0,0.0,30 cm,19\n(1 Hari),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,februari,2017
1620,Jakarta Utara,PENJARINGAN,PENJARINGAN,NaN,1.0,0.0,0,0.0,30 - 40 cm,21 - 22\n(2 Hari),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,februari,2017
1621,Jakarta Utara,TANJUNG PRIOK,TANJUNG PRIUK,NaN,4.0,0.0,0,0.0,30 cm,17\n(1 Hari),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,februari,2017

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1622 entries, 0 to 1621
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   kota_administrasi           1572 non-null   object
 1   kecamatan                   1572 non-null   object
 2   kelurahan                   1572 non-null   object
 3   rw                          1505 non-null   object
 4   jumlah_terdampak_rw         1572 non-null   float64
 5   jumlah_terdampak_rt         1572 non-null   float64
 6   jumlah_terdampak_kk         1572 non-null   object
 7   jumlah_terdampak_jiwa       1572 non-null   float64
 8   ketinggian_air              1572 non-null   object
 9   tanggal_kejadian            1572 non-null   object
 10  lama_genangan               1572 non-null   float64
 11  jumlah_meninggal            1572 non-null   float64
 12  jumlah_hilang               1572 non-null   float64
 13  jumlah_luka_berat           1572 non-null   float64
 14  jumlah_luka_ringan          1572 non-null   float64
 15  jumlah_pengungsi_tertinggi  1572 non-null   float64
 16  jumlah_tempat_pengungsian   1572 non-null   float64
 17  nilai_kerugian              1572 non-null   float64
 18  bulan                       1622 non-null   object
 19  tahun                       1622 non-null   int64
dtypes: float64(11), int64(1), object(8)
memory usage: 253.6+ KB

In [ ]:
df.describe()

,jumlah_terdampak_rw,jumlah_terdampak_rt,jumlah_terdampak_jiwa,lama_genangan,jumlah_meninggal,jumlah_hilang,jumlah_luka_berat,jumlah_luka_ringan,jumlah_pengungsi_tertinggi,jumlah_tempat_pengungsian,nilai_kerugian,tahun
count,1572.000000,1572.000000,1572.000000,1572.000000,1572.0,1572.000000,1572.0,1572.00000,1572.000000,1572.000000,1572.0,1622.000000
mean,2.088422,3.907761,156.380407,0.017812,0.0,0.000636,0.0,75.50000,0.922392,0.007634,0.0,2019.149815
std,2.275812,7.164416,650.559332,0.146030,0.0,0.025222,0.0,329.47924,8.544359,0.112572,0.0,1.206755
min,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.00000,0.000000,0.000000,0.0,2017.000000
25%,1.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.0,0.00000,0.000000,0.000000,0.0,2018.000000
50%,1.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.0,0.00000,0.000000,0.000000,0.0,2020.000000
75%,3.000000,4.000000,0.000000,0.000000,0.0,0.000000,0.0,0.00000,0.000000,0.000000,0.0,2020.000000
max,16.000000,143.000000,13450.000000,2.000000,0.0,1.000000,0.0,4461.00000,271.000000,3.000000,0.0,2020.000000

In [ ]:
df.isna().count()

kota_administrasi             1622
kecamatan                     1622
kelurahan                     1622
rw                            1622
jumlah_terdampak_rw           1622
jumlah_terdampak_rt           1622
jumlah_terdampak_kk           1622
jumlah_terdampak_jiwa         1622
ketinggian_air                1622
tanggal_kejadian              1622
lama_genangan                 1622
jumlah_meninggal              1622
jumlah_hilang                 1622
jumlah_luka_berat             1622
jumlah_luka_ringan            1622
jumlah_pengungsi_tertinggi    1622
jumlah_tempat_pengungsian     1622
nilai_kerugian                1622
bulan                         1622
tahun                         1622
dtype: int64

In [ ]:
# Remove null rows

df = df.dropna()

In [ ]:
df

,kota_administrasi,kecamatan,kelurahan,rw,jumlah_terdampak_rw,jumlah_terdampak_rt,jumlah_terdampak_kk,jumlah_terdampak_jiwa,ketinggian_air,tanggal_kejadian,lama_genangan,jumlah_meninggal,jumlah_hilang,jumlah_luka_berat,jumlah_luka_ringan,jumlah_pengungsi_tertinggi,jumlah_tempat_pengungsian,nilai_kerugian,bulan,tahun
0,Jakarta Pusat,JOHAR BARU,JOHAR BARU,"RW 01, 02, 06, 08",4.0,4.0,35,140.0,10 s/d 30 cm,tgl. 01 Januari,0.0,0.0,0.0,0.0,140.0,1.0,0.0,0.0,januari,2020
1,Jakarta Pusat,KEMAYORAN,GUNUNG SAHARI SELATAN,"RW 01, 02, 07, 08",4.0,4.0,0,0.0,10 s/d 70 cm,tgl. 01 Januari,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,januari,2020
2,Jakarta Pusat,KEMAYORAN,SERDANG,"RW 01, 02, 06, 07",4.0,4.0,0,0.0,10 s/d 30 cm,tgl. 01 Januari,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,januari,2020
3,Jakarta Pusat,SAWAH BESAR,PASAR BARU,"RW 02, 03, 04, 05, 06, 07, 08",7.0,7.0,155,625.0,10 s/d 70 cm,tgl. 01 Januari,0.0,0.0,0.0,0.0,625.0,5.0,0.0,0.0,januari,2020
4,Jakarta Pusat,TANAH ABANG,BENDUNGAN HILIR,"RW 07, 09",2.0,2.0,52,195.0,31 s/d 70 cm,tgl. 01 Januari,0.0,0.0,0.0,0.0,195.0,6.0,0.0,0.0,januari,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,Kepulauan Seribu,KEPULAUAN SERIBU UTARA,PULAU HARAPAN,0,0.0,1.0,0,0.0,10 s/d 15 cm,12/15/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,desember,2020
1551,Kepulauan Seribu,KEPULAUAN SERIBU UTARA,PULAU HARAPAN,0,0.0,1.0,0,0.0,5 s/d 20 cm,12/15/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,desember,2020
1552,Kepulauan Seribu,KEPULAUAN SERIBU UTARA,PULAU HARAPAN,0,0.0,1.0,0,0.0,15 cm,12/15/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,desember,2020
1553,Kepulauan Seribu,KEPULAUAN SERIBU UTARA,PULAU HARAPAN,RW : 02,1.0,1.0,0,0.0,5 cm,12/15/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,desember,2020
1554,Kepulauan Seribu,KEPULAUAN SERIBU UTARA,PULAU HARAPAN,0,0.0,1.0,0,0.0,5 s/d 20 cm,12/15/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,desember,2020

#### Cleaning "ketinggian_air" column

Three types of data format in "ketinggian_air" column:
- Format 1: xx s.d. xx cm
- Format 3: xx cm

In [ ]:
df['ketinggian_air'].unique()

array(['10 s/d 30 cm', '10 s/d 70 cm', '31 s/d 70 cm', '71 s/d 150 cm',
       '40 s/d 60 cm', '10 s/d 35 cm', '10 s/d 150 cm', '20 s/d 50 cm',
       '20 s/d 40 cm', '15 s/d 70 cm', '31 s/d 200 cm', '31 s/d 150 cm',
       '31 s/d 100 cm', '10 s/d 140 cm', '30 s/d 100 cm', '60 cm',
       '31 s/d  150 cm', '31 s/d 120 cm', '30 s/d 90 cm', '80 cm',
       '71 s/d180 cm', '30 s/d 150 cm', '20 s/d 60 cm', '71 s/d 200 cm',
       '71 s/d 175 cm', '120 cm', '60 s/d 80 cm', '15 s/d 100 cm',
       '10 s/d 200 cm', '20 s/d 70 cm', '71 s/d 170 cm', '10 s/d 350 cm',
       '10 s/d 220 cm', '100 s/d 150 cm', '3 s/d 20 cm', '3 s/d 40 cm',
       '10 s/d 15 cm', '5 s/d 10 cm', '10 s/d 20 cm', '5 s/d 30 cm',
       '10 s/d 25 cm', '3 s/d 10 cm', '40 s/d 50 cm', '25 cm',
       '30 s/d 40 cm', '20 s/d 30 cm', '10 s/d 60 cm', '15 s/d 20 cm',
       '40 cm', '20 cm', '30 s/d 60 cm', '15 s/d 30 cm', '5 - 50 cm',
       '20 s/d 25 cm', '50 s/d 70 cm', '10 s/d 50 cm', '5 s/d 15 cm',
       '05 s/d 15 cm', '20 - 40 cm', '30 - 40 cm', '10 - 50 cm',
       '10 - 30 cm', '20 - 50 cm', '30 - 70 cm', '10 - 40 cm',
       '20 - 25 cm', '10 - 20 cm', '10 - 60 cm', '10 - 70 cm', '70 cm',
       '30 cm', '10 - 150 cm', '10 - 80 cm', '30 - 90 cm', '30 - 50 cm',
       '20 - 100 cm', '5 - 80 cm', '10 cm', '10 - 15 cm', '20 s/d 80 cm',
       '70 s/d 100 cm', '40 s/d 70 cm', '20 s/d 105 cm', '50 cm',
       '30 s/d 50 cm', '20 s/d 45 cm', '15 cm', '10 s/d 40 cm',
       '10 s/d 80 cm', '05 - 10 cm', '20 - 30 cm', '10 - 110 cm',
       '25 s/d 40 cm', '5 s/d 120 cm', '20 s/d 65 cm', '5 s/d 110 cm',
       '5 cm', '5 s/d 60 cm', '30 - 60 cm', '20 - 70 cm', '70 - 80 cm',
       '80 - 100 cm', '50 - 60 cm', '30 - 100 cm', '15 - 40 cm',
       '30 - 45 cm', '40 - 60 cm', '30 - 80 cm', '25 - 80 cm',
       '40 - 100 cm', '50 - 120 cm', '70 - 200 cm', '50 - 80 cm',
       '0 - 50 cm', '20 - 120 cm', '5 - 10 cm', '100 cm', '140 - 160 cm',
       '60 - 80 cm', '10 - 100 cm', '70 - 100 cm', '50 - 100 cm',
       '100 - 120 cm', '60 - 100 cm', '75 cm', '50 - 70 cm', '20 - 80 cm',
       '75 - 120 cm', '20 - 90 cm', '25 - 70 cm', '5 - 15 cm', '90 cm',
       '5 s/d 20 cm', '15 s/d 20 cm ', '60 s/d 70 cm', '15 s/d 60 cm',
       '10 s/d 300 cm', '10 s/d 250 cm', '30 s/d 200 cm', '50 s/d 200 cm',
       '100 s/d 300 cm', '10 s/d 120 cm', '30 s/d 70 cm', '20 s/d 90 cm',
       '20 s/d 270 cm', '30 s/d 250 cm', '60 s/d 300 cm', '50 s/d 150 cm',
       '20 - 30 CM', '50 - 90 cm', '05 - 60 cm', '10 - 35 cm',
       '10 s/d 100 cm', '70 s/d 110 cm', '50 s/d 75 cm', '20 S/D 30',
       '30 s/d 80 cm', '50 s/d 60 cm', '2 s/d 15 cm', '6 s/d 10 cm',
       '50 s/d 80 cm', '10 s/d 50', '40 s/d 80 cm', '40 s/d 135',
       '15 s/d 120 cm', '10 cm s/d 50 cm', '30 cm ', '10 cm s/d 20 cm',
       '25 cm s/d 30 cm', '40 cm ', '15 cm s/d 30 cm', '20 cm s/d 30 cm',
       '15 cm s/d 50 cm', '25 cm ', '20 cm s/d 40 cm', '40 cm s/d 75 cm',
       '20 cm s/d 70 cm', '50 cm ', '20 cm s/d 60 cm', '30 cm s/d 40 cm',
       '15 cm s/d 80  cm', '10 cm s/d 20 cm ', '40 s/d 110 cm',
       '100 s/d 220 cm', '30 s/d 100 cm ', '50 s/d 100', '35 s/d 70 cm',
       '20 s/d 220 cm', '20 s/d 170 cm', '20 s/d 100 cm', '60 s/d 100 cm',
       '15  cm', '20-100 cm', '20-30 cm ', '40cm ', '30-70 cm ',
       '20 s/d 60  cm', '25 s/d 75 cm ', '20 s/d 75 cm ', '45 cm ',
       '50 s/d 80 cm ', '30 s/d 50 cm ', '20  s/d 40 cm ', '10 s/d 40',
       '10 s/d 60', '10 s/d 120', '35 s/d 50 cm', ' 30 cm',
       '10 s/d 45 cm', '5 s/d 70cm', '10 s/d 80 ', '5 s/d 110',
       '10 cm s/d 100 cm', '15 s/d 25 cm', '15 s/d 35 cm', '15 s/d 50 cm',
       '200 cm', '5 s/d 40 cm', '30 s/d 120 cm', '25 s/d 50 cm',
       '10 s/d 130 cm', '5 s/d 100 cm', '10 s/d 90 cm', '15 s/d 40 cm',
       '20 s/d 100  cm', '20 s/d 50 sm', '50 s/d 120 cm',
       '30 s/d 150  cm', '50 s/d 100 cm', '10 s/d 160 cm',
       '55 s/d 100 cm', '10 s/d 115 cm', '5 s/d 50 cm', '25 s/d 110 cm',
       '20 s/d 140 cm', '10 s.d. 30 cm', '10 s.d. 90 cm', '20 s.d. 30 cm',
       '10 s.d. 60 cm', '15 s.d. 20 cm', '10 s.d. 80 cm', '15 s.d. 70 cm',
       '30 s.d. 40 cm', '15 s.d. 30 cm', '20 s.d. 50 cm', '50 s.d. 70 cm',
       '30 s.d. 80 cm', '10 s.d. 20 cm', '10 s.d. 70 cm', '10 s.d. 35 cm',
       '20 s.d. 130 cm', '10 s.d. 50 cm', '20 s.d. 40 cm',
       '20 s.d. 110 cm', '10 s.d. 100 cm', '15 s.d. 45 cm',
       '50 cm s/d 150 cm', '15 cm s/d 65 cm', '30 s/d 180 cm',
       '10 s/d 180 cm', '40 s/d 100 cm', '20 s/d 200 cm', '5 s.d. 25 cm',
       '35 cm', '120 s.d. 130 cm', '45 cm', '25 s.d. 50 cm',
       '10 s.d. 75 cm', '80 s/d 100 cm', '20 cm s/d 50 cm',
       '10 cm s/d 30 cm', '5 cm s/d 10 cm', '50 cm s/d 100 cm',
       '30 cm s/d 60 cm', '30 cm s/d 80 cm', '10 cm s/d 40 cm',
       '10 cm s/d 120 cm', '20 cm s/d 180 cm', '10 cm s/d 130 cm',
       '10 cm s/d 85 cm', '20 cm s/d 150 cm', '50 cm s/d 70 cm',
       '50 cm s/d 60 cm', '30 cm s/d 50 cm', '10 cm s/d 70 cm',
       '10 cm s/d 80 cm', '20 cm s/d 125 cm', '10 cm s/d 125 cm',
       '10 cm s/d 150 cm', '10 cm s/d 60 cm', '40 s/d 120 cm',
       '50 s/d 110 cm', '60 s/d 120 cm', '20 s/d 120 cm', '10 cm ',
       '20 cm ', '70 cm s/d 80 cm', '20 cm s/d 80 cm', '40 cm s/d 50 cm',
       '10 s/d 20 cm '], dtype=object)

In [ ]:
unclean1 = '10 s/d 30 cm'

In [ ]:
def clean_height1(unclean_str):
    # Remove non-numerical characters
    clean = unclean_str.replace('s/d', '')\
                       .replace('s.d.', '')\
                       .replace('-', ' ')\
                       .replace('cm', '')
    # Remove extra whitespace
    clean = ' '.join(clean.split())
    # Split clean into list
    clean = clean.split(' ')
    min_height = int(clean[0])
    max_height = int(clean[1])
    avg_height = (min_height + max_height) / 2.0
    return {'min_ketinggian_air': min_height, 'max_ketinggian_air': max_height, 'mean_ketinggian_air': avg_height}

In [ ]:
clean_height1(unclean1)

{'min_ketinggian_air': 10,
 'max_ketinggian_air': 30,
 'mean_ketinggian_air': 20.0}

In [ ]:
clean_height1('70 cm s/d 80 cm')

{'min_ketinggian_air': 70,
 'max_ketinggian_air': 80,
 'mean_ketinggian_air': 75.0}

In [ ]:
def clean_height2(unclean_str):
    clean = unclean_str.replace('cm', '')
    clean = clean.strip()
    avg_height = int(clean)
    return {'min_ketinggian_air': avg_height, 'max_ketinggian_air': avg_height, 'mean_ketinggian_air': avg_height}

In [ ]:
unclean2 = '30 cm'

In [ ]:
clean_height2(unclean2)

{'min_ketinggian_air': 30, 'max_ketinggian_air': 30, 'mean_ketinggian_air': 30}

In [ ]:
def clean_height(unclean_str):
    unclean_str = unclean_str.lower()
    if (unclean_str.find('s.d.') != -1 or unclean_str.find('s/d') != -1 or unclean_str.find('-') != -1):
        return clean_height1(unclean_str)
    else:
        return clean_height2(unclean_str)

In [ ]:
clean_height('10 s/d 30 cm')

{'min_ketinggian_air': 10,
 'max_ketinggian_air': 30,
 'mean_ketinggian_air': 20.0}

In [ ]:
# df['min_ketinggian_air'], df['max_ketinggian_air'], df['mean_ketinggian_air'] = zip(*df['ketinggian_air'].map(clean_height))

In [ ]:
df2 = df.apply(lambda row: clean_height(row['ketinggian_air']), axis='columns', result_type='expand')
df = pd.concat([df, df2], axis='columns')

In [ ]:
df.sample(20)[['ketinggian_air', 'min_ketinggian_air', 'max_ketinggian_air', 'mean_ketinggian_air']]

,ketinggian_air,min_ketinggian_air,max_ketinggian_air,mean_ketinggian_air
287,20 s/d 50 cm,20.0,50.0,35.0
685,20 s/d 60 cm,20.0,60.0,40.0
216,20 - 25 cm,20.0,25.0,22.5
1257,10 cm s/d 50 cm,10.0,50.0,30.0
620,80 cm,80.0,80.0,80.0
1264,10 cm s/d 80 cm,10.0,80.0,45.0
1182,50 s/d 60 cm,50.0,60.0,55.0
724,10 s/d 30 cm,10.0,30.0,20.0
549,20 s/d 60 cm,20.0,60.0,40.0
1503,20 cm,20.0,20.0,20.0
562,10 s/d 50,10.0,50.0,30.0
671,20 s/d 100 cm,20.0,100.0,60.0
1149,10 cm s/d 85 cm,10.0,85.0,47.5
500,100 s/d 150 cm,100.0,150.0,125.0
1402,20 cm,20.0,20.0,20.0
1150,20 cm s/d 150 cm,20.0,150.0,85.0
994,40 cm,40.0,40.0,40.0
71,30 s/d 150 cm,30.0,150.0,90.0
379,10 - 20 cm,10.0,20.0,15.0
695,40 cm,40.0,40.0,40.0

#### Other cleaning

In [ ]:
# To check what the row in this format looks like

df[df['ketinggian_air'] == '21 - 24\n(4 Hari)']